.main-home{
    /* position: relative; */
    /* background: #fff; */
    /* color: red; */
}
.container{
    position: fixed;
    top: 50vh;
    right: 5vw;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
}
.authentication-screen {
    padding: 15% 2% 15% 2%;
    width:100%;
    margin: 0px auto;
}

.auth-form {
    padding: 5% 0% 0% 0%;
    border-top: solid 1px #dee2e6;
    margin-top: 2%;
}

.nav-pills .nav-link {
    width: 50%;
    text-align: center;
}

.auth-loading {
    left: 0;
}